<section class="w-full">
  <div class="relative">
    <picture>
      <source srcset="/{{ info.heroImage | webp }}" type="image/webp">
      <img
        x-data="image"
        x-bind:onerror="handleError"
        src="/{{ info.heroImage }}"
        alt="ヒーロー画像"
        loading="lazy"
        class="h-[80vh] w-full object-cover"
      >
    </picture>
    <div
      class="
        absolute bottom-32 left-6 max-w-[180px] sm:max-w-[220px]
        bg-white/90 backdrop-blur-xs p-3 rounded-2xl shadow-lg border border-white/50
        hover:scale-105 transition-transform duration-300
      "
    >
      <picture>
        <source srcset="/assets/img/logo.webp" type="image/webp">
        <img
          src="/assets/img/logo.jpg"
          alt="ヒルゼンのお菓子屋 新田菓子舗"
          class="w-full h-auto rounded-xl"
        >
      </picture>
      <h1 class="sr-only">ヒルゼンのお菓子屋 新田菓子舗</h1>
    </div>
    <div>
      <p
        class="px-4 bottom-16 left-6 justify-items-center text-sm text-gray-900"
      >
        新田菓子舗は蒜山の特産品である、<br>
        ジャージー牛乳をたっぷり使った<br>
        地元の洋菓子･和菓子の製造・販売会社です。<br>
        蒜山高原へお越しのさいは<br>
        是非ご賞味くださいませ。
      </p>
    </div>
  </div>
</section>
