<section class="w-full">
  <div class="relative">
    <img
      x-data="image"
      x-bind:onerror="handleError"
      src="/assets/img/souffle.jpg"
      alt="ヒーロー画像"
      loading="lazy"
      class="h-[80vh] w-full object-cover"
    >
    <h1
      class="
        absolute bottom-32 whitespace-normal text-shadow-lg text-shadow-slate-50 backdrop-blur-xs px-4 py-2
        left-6 text-3xl font-bold text-gray-900
      "
    >
      ヒルゼンのお菓子屋 <br>
      新田菓子舗
    </h1>
    <div>
      <p
        class="px-4 bottom-16 left-6 justify-items-center text-sm text-gray-900"
      >
        新田菓子舗は蒜山の特産品である、<br>
        ジャージー牛乳をたっぷり使った<br>
        地元の洋菓子･和菓子の製造・販売会社です。<br>
        蒜山高原へお越しのさいは<br>
        是非ご賞味くださいませ。
      </p>
    </div>
  </div>
</section>
