<section class="px-4 py-12">
  <h2 class="mb-4 text-xl font-semibold">OEM実績</h2>

  <p class="mb-4 text-sm text-gray-700"></p>
  <div class="grid grid-cols-1 gap-4">
    <img
      x-data="image"
      x-bind:onerror="handleError"
      src="/assets/img/oempop.jpg"
      class="aspect-auto w-full sm:object-cover"
      loading="lazy"
    >
  </div>
</section>
