@import url(https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap);
@import "tailwindcss";

@theme {
  --font-sans: "LINE Seed JP", sans-serif;
}
@layer components {
  .document-container {
    @apply mx-auto max-w-3xl p-4;
  }
  .document-container h1 {
    @apply mb-6 text-2xl font-bold;
  }
  .document-container h2 {
    @apply text-2xl font-bold;
  }
  .document-container p {
    @apply my-4 leading-relaxed;
  }
}
