@import url(https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap);
@import "tailwindcss";

@theme {
  --font-sans: "LINE Seed JP", sans-serif;

  /* 檸檬（れもん） */
  --color-lemon-50: oklch(98.68% 0.029 102.68);
  --color-lemon-100: oklch(97.5% 0.057 102.02);
  --color-lemon-200: oklch(95.22% 0.108 103.14);
  --color-lemon-300: oklch(93.27% 0.151 103.23);
  --color-lemon-400: oklch(91.58% 0.179 102.79);
  --color-lemon-500: oklch(89.93% 0.187 101.15);
  --color-lemon-600: oklch(76.24% 0.159 101.73);
  --color-lemon-700: oklch(61.68% 0.128 102.04);
  --color-lemon-800: oklch(46.19% 0.096 102.61);
  --color-lemon-900: oklch(29.34% 0.061 102.72);
  --color-lemon-950: oklch(23.66% 0.048 102.21);

  /* 薔薇（ばら） */
  --color-bara-50: oklch(95.53% 0.009 17.31);
  --color-bara-100: oklch(91.15% 0.019 13.4);
  --color-bara-200: oklch(82.3% 0.037 15.79);
  --color-bara-300: oklch(73.27% 0.059 15.87);
  --color-bara-400: oklch(64.25% 0.083 16.67);
  --color-bara-500: oklch(55.41% 0.106 19.57);
  --color-bara-600: oklch(47.31% 0.09 18.24);
  --color-bara-700: oklch(38.85% 0.07 18.27);
  --color-bara-800: oklch(29.92% 0.049 18.42);
  --color-bara-900: oklch(20.22% 0.029 16.11);
  --color-bara-950: oklch(17.2% 0.021 14.03);

  /* 抹茶（まっちゃ） */
  --color-matcha-50: oklch(96.7% 0.008 121.63);
  --color-matcha-100: oklch(93.32% 0.016 126.83);
  --color-matcha-200: oklch(86.81% 0.034 125.6);
  --color-matcha-300: oklch(79.94% 0.051 126.42);
  --color-matcha-400: oklch(72.97% 0.068 127.1);
  --color-matcha-500: oklch(66.12% 0.088 127.96);
  --color-matcha-600: oklch(56.15% 0.071 127.64);
  --color-matcha-700: oklch(45.94% 0.057 127.36);
  --color-matcha-800: oklch(35.13% 0.042 126.82);
  --color-matcha-900: oklch(23.03% 0.022 127.88);
  --color-matcha-950: oklch(19.29% 0.017 129.48);

  /* 蜜柑（みかん） */
  --color-mikan-50: oklch(96.79% 0.022 67.56);
  --color-mikan-100: oklch(93.86% 0.044 68.35);
  --color-mikan-200: oklch(87.82% 0.088 66.27);
  --color-mikan-300: oklch(82.41% 0.129 64.69);
  --color-mikan-400: oklch(77.37% 0.163 60.28);
  --color-mikan-500: oklch(73.19% 0.186 52.98);
  --color-mikan-600: oklch(62.01% 0.156 53.46);
  --color-mikan-700: oklch(50.29% 0.126 54.25);
  --color-mikan-800: oklch(38.04% 0.092 56.8);
  --color-mikan-900: oklch(24.71% 0.056 63.84);
  --color-mikan-950: oklch(20.33% 0.045 67.17);

  /* 藍（あい） */
  --color-ai-50: oklch(96.45% 0.008 157.09);
  --color-ai-100: oklch(93.08% 0.018 155.8);
  --color-ai-200: oklch(86.13% 0.036 156.91);
  --color-ai-300: oklch(79.1% 0.055 155.75);
  --color-ai-400: oklch(72.12% 0.073 154.98);
  --color-ai-500: oklch(64.81% 0.091 153.93);
  --color-ai-600: oklch(55.39% 0.077 153.99);
  --color-ai-700: oklch(45.19% 0.062 154.04);
  --color-ai-800: oklch(34.48% 0.044 154.77);
  --color-ai-900: oklch(22.81% 0.025 153.81);
  --color-ai-950: oklch(18.89% 0.018 155.12);
}
@layer components {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .document-container {
    @apply mx-auto flex max-w-3xl flex-col items-start p-4;
  }
  .document-container h1 {
    @apply mb-4 text-3xl font-semibold text-wrap text-gray-900;
  }
  .document-container h2 {
    @apply text-2xl font-bold;
  }
  .document-container p {
    @apply my-4 leading-relaxed;
  }
}
