@import url(https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap);
@import "tailwindcss";

@theme {
  --font-sans: "LINE Seed JP", sans-serif;
}
@layer components {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .document-container {
    @apply mx-auto flex max-w-3xl flex-col items-start p-4;
  }
  .document-container h1 {
    @apply mb-4 text-3xl font-semibold text-wrap text-gray-900;
  }
  .document-container h2 {
    @apply text-2xl font-bold;
  }
  .document-container p {
    @apply my-4 leading-relaxed;
  }
}
