@import url(https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap);
@import "tailwindcss";

@theme {
  --font-sans: "LINE Seed JP", sans-serif;
}
@layer components {
  .geolonia {
    @apply h-64 sm:h-96 w-full md:w-3xl mb-4
  }
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .document-container {
    @apply z-1 mx-auto max-w-3xl p-4;
  }
  .document-container h1 {
    writing-mode: vertical-lr;
    @apply z-0 m-4 text-3xl font-extrabold text-gray-900 text-nowrap;
  }
  .document-container:not(h1){
    @apply flex flex-col;
  }
  .document-container h2 {
    @apply text-2xl font-bold;
  }
  .document-container p {
    @apply my-4 leading-relaxed;
  }
}
