@import url(https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap);
@import "tailwindcss";

@theme {
  --font-sans: "LINE Seed JP", sans-serif;
}
@layer components {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .document-container {
    @apply z-1 mx-auto flex max-w-3xl flex-col p-4;
  }
  .document-container h1 {
    writing-mode: vertical-lr;
    @apply fixed start-0 top-2 left-8 z-0 mb-6 text-4xl font-extrabold text-gray-900;
  }
  .document-container h2 {
    @apply text-2xl font-bold;
  }
  .document-container p {
    @apply my-4 leading-relaxed;
  }
}
