---
layout: base
title: ホーム
hasMap: true
---
<div
  class="
    font-sans
    bg-white
    text-gray-900
    sm:p-0
  "
>
  <!--
    =========================
         ① HERO
    ==========================
  -->

  {% include 'hero.liquid' %}

  <!--
    =========================
         ② PRODUCTS
    ==========================
  -->
  {% include 'products.liquid' %}

  <!--
    =========================
         ②.5 SHOPS
    ==========================
  -->
  <section class="px-4 py-12 max-w-5xl mx-auto border-t border-spring-100">
    <h2 class="mb-8 text-2xl font-semibold text-center">取扱店・販売店のご案内</h2>
    {% include 'shops-list.liquid' %}
  </section>

  <!--
    =========================
         ③ ACCESS
    ==========================
  -->

  {% include 'access.liquid' %}

  <!--
    =========================
         ④ OEM
    ==========================
  -->

  {% include 'oem.liquid' %}
</div>
