---
layout: base
title: ホーム

---
<div
  class="
    bg-white
    text-gray-900
    sm:p-0
  "
>
  <!--
    =========================
         ① HERO
    ==========================
  -->

  {% include 'hero.liquid' %}

  <!--
    =========================
         ② PRODUCTS
    ==========================
  -->
  {% include 'products.liquid' %}

  <!--
    =========================
         ③ ACCESS
    ==========================
  -->

  {% include 'access.liquid' %}

  <!--
    =========================
         ④ OEM
    ==========================
  -->

  {% include 'oem.liquid' %}
</div>
