---
title: 販売店のご案内
layout: docs
---

<div class="space-y-12">
  <p class="text-sm md:text-base text-gray-600 leading-relaxed">
    新田菓子舗のお菓子は、以下の直営販売所および蒜山高原の各観光スポット・サービスエリアにてお買い求めいただけます。蒜山高原へお越しの際は、ぜひお立ち寄りください。
  </p>

  {% include 'shops-list.liquid' %}
</div>
