name: build and deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repos
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Build Site
        run: bun build:prod
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: _site
          overwrite: true
