name: build site
on:
  push:
    branches:
      - main
    paths-ignore:
      - _site/**

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repos
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Build Site
        run: bun build:prod
      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Commit Changes
        run: |
          git add -f .
          git commit -m "Build site - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
      - name: Push _site to deploy branch
        run: |
          git branch -M deploy
          git lfs push origin deploy --all
          git push -f origin deploy
