name: Build and Deploy development site
on:
  push:
    branches:
      - main
    paths-ignore:
      - "_site/**"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repos
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Build Site
        run: bun build:prod
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          SOURCE: "_site/"
          ARGS: "-rlgoDzvc -i "
          REMOTE_HOST: ${{ secrets.HOST_SERVER }}
          REMOTE_USER: ${{ secrets.USERNAME }}
          REMOTE_PORT: ${{ secrets.PORT }}
          TARGET: ${{ secrets.TARGET_PATH }}
          SCRIPT_BEFORE: |
            mkdir -p ${{ secrets.TARGET_PATH }}
