name: build site
on:
  push:
    branches:
      - main
    paths-ignore:
      - _site/**

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repos
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Build Site
        run: bun build:prod
      - name: Push _site to deploy branch
        run: |
          git fetch origin deploy
          git checkout deploy || git checkout --orphan deploy
          git reset --hard

          git push --force origin deploy

          cp -r _site/* .

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Deploy site - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push origin deploy
